<input type="text" [(ngModel)]="name">
<button (click)="addPerson()">Agegar persona</button>
<!-- string interpolation -->
<h1>Hola, {{ name }}!</h1>

<div *ngIf="name === 'juan'">
  <p>Solo se va a ver este texto cuando sea igual a Juan</p>
</div>

<!-- switvh -->
<div [ngSwitch]="name">
  <p *ngSwitchCase="'juan'">Este es Juan</p>
  <p *ngSwitchCase="'carlos'">Este es Carlos</p>
  <p *ngSwitchCase="'maria'">Este es Maria</p>
  <p *ngSwitchCase="'alberto'">Este es Alberto</p>
  <p *ngSwitchDefault="">No hay comparacion</p>
</div>



<div *ngIf="personas.length < 1">
  <h3>No hay personas que mostar</h3>
</div>

<div *ngIf="personas.length > 0">
  <ul>
    <li *ngFor="let persona of personas; index as i">
      {{ i }} - {{ persona }}
      <button (click)="deletePerson(i)">Eliminar</button>
    </li>
  </ul>
</div>



<!-- Renderizando productos -->
<h1>Renderizar los productos</h1>
<div class="render-products-container">
      <app-product *ngFor="let product of products" [product]="product" (onAddCart)="receivedProduct($event)"/>
</div>


<!-- Usando pipe creada por mi -->
 <h3>Mostrando los valores transformados por pipes</h3>
<input type="text" [(ngModel)]="power">
<p>{{power | exponential}}</p>